{% extends 'base.html.twig' %}
{% block body %}
    <h1>{{ classroom.name }}</h1>
    <div class="text-center">
        <img src="{{ qr_code_data_uri('test') }}">
    </div>
    <h3 class="text-center" style="padding-top: 2%">Scannez ce code pour valider votre présence</h3>
    <a href="#" class="btn btn-primary">Valider la présence d'un élève manuellement</a>
{% endblock %}