{% extends 'base.html.twig' %}
{% block body %}
    <h1>{{ classroom.name }}</h1>
    <div class="text-center">
        <img src="{{ qr_code_data_uri(classroom_id) }}">
    </div>
    <h3 class="text-center" style="padding-top: 2%">Scannez ce code pour valider votre présence</h3>
    <div class="container pt-3">
        <div class="row">
            <div class="col text-center">
                <a href="{{ path('validate_manually', {'classroom_id' : classroom.id})  }}" class="btn btn-primary text-center">Valider la présence d'un élève manuellement</a>
                <a href="{{ path('show_absents', {'classroom_id' : classroom.id})  }}" class="btn btn-primary text-center">Voir les absents</a>
            </div>
        </div>
    </div>
{% endblock %}