{% extends 'base.html.twig' %}
{% block body %}
    <div class="col-md-4 mx-auto text-center pt-3">
        {{ form_start(form) }}
            {{ form_row(form.users) }}
            <button type="submit" class="btn btn-primary">Valider la présence</button>
        {{ form_end(form) }}
    </div>
{% endblock %}